<div class="container">

    <!-- Jumbotron  -->
    <div class="jumbotron">
      <h1>New York Times Scraper</h1>
    </div>

    <div class="row">
      <!-- Results Panel -->
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Search Results</h3>
          </div>
          <div class="panel-body" id="well-section">
              {{#each articles}}
              <div class="panel panel-default">
                <div class="panel-heading"> {{title}} 
                    <button class = "btn btn-primary leaveNoteBtn" type="Note"  data-id = {{id}}>Leave Note</button>
                    <button class = "btn btn-primary" id = "unSaveBtn" type="unsave"  data-id = {{id}}>Unsave</button>
                </div>
                <div class="panel-body notes" id = {{id}}> 
                  <div>Leave a Note</div>
                  Title: <input type="text" name="fname"><br>
                  <textarea rows="4" cols="50"> 
                  </textarea>
                  <br>
                  <button class = "btn btn-primary saveNote" type="save"  data-id = {{id}}>Save Note</button>
                  <button class = "btn btn-primary closeNotePanelBtn" type="close"  data-id = {{id}}>Close</button>
                </div>
              </div>
              {{/each}}
          </div>
        </div>
      </div>
    </div>
    <a href="/scrape"> <button class = "btn btn-primary" id = "backBtn" type="home">Back</button></a>
</div>